*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

.app {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
}
