.profile {
  text-align: center;
  padding: 80px;
  box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.5);
  background-color: rgb(225, 225, 225);
}

.description {
  padding: 50px;
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  border-bottom: 0;
}

.avatar {
  margin: 0 auto;
  margin-bottom: 20px;
}

.name {
  font-size: 24px;
  margin-bottom: 10px;
}

.tag {
  font-style: italic;
  margin-bottom: 10px;
}

.location {
  font-style: italic;
}

.stats {
  display: flex;
}

.stats > li {
  padding: 20px 0;
  border: 1px solid black;
  margin-right: -1px;
  flex: 1 1 33.33%;
}

.label {
  display: block;
  font-size: 12px;
}

.quantity {
  display: block;
}
