.statssection {
  display: inline-block;
  min-width: 400px;
  background-color: rgb(225, 225, 225);
  box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 50px;
}

.title {
  margin: 20px;
}

.statList {
  display: flex;
}

.label {
  display: block;
}

.percentage {
  display: block;
}
